@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700,300,400italic,300italic");
/* line 22, ../sass/style.scss */
body {
  background: #33333B;
  color: #F4F4F6;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}

/* line 29, ../sass/style.scss */
.content {
  padding-top: 60px;
  box-sizing: border-box;
  height-min: 100%;
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}
/* line 12, ../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/susy-2.2.12/sass/susy/output/support/_clearfix.scss */
.content:after {
  content: " ";
  display: block;
  clear: both;
}
/* line 34, ../sass/style.scss */
.content .sidebar {
  width: 40.67797%;
  float: left;
  margin-right: 1.69492%;
}

/* line 41, ../sass/style.scss */
.vertical-align {
  display: flex;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

/* line 49, ../sass/style.scss */
.box-v-align {
  margin: auto;
  display: block;
}

/* line 56, ../sass/style.scss */
header {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  background: #33333B;
  padding: 10px 18px 10px 18px;
  height: 50px;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
/* line 66, ../sass/style.scss */
header a {
  color: #FF9B41;
}

/* line 71, ../sass/style.scss */
.menu-left {
  float: left;
  height: 100%;
}

/* line 75, ../sass/style.scss */
.menu-right {
  float: right;
  height: 100%;
}

/* line 81, ../sass/style.scss */
.sidebar {
  width: 300px;
  max-width: 300px;
  position: fixed;
  top: 0;
  right: -300px;
  bottom: 0;
  background: #1b1b21;
  transition: all 500ms ease;
}
/* line 90, ../sass/style.scss */
.sidebar ul {
  width: 100%;
  padding: 0;
}
/* line 93, ../sass/style.scss */
.sidebar ul li {
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 13px 20px 13px 20px;
  text-align: center;
  color: #F4F4F6;
  font-weight: 700;
  box-sizing: border-box;
  border-top: 1px solid #636262;
}
/* line 103, ../sass/style.scss */
.sidebar ul li a {
  text-align: left;
  width: 100%;
  height: 100%;
  display: block;
  text-transform: uppercase;
  font-weight: 400;
  text-decoration: none;
}
/* line 111, ../sass/style.scss */
.sidebar ul li a i {
  margin-right: 10px;
}
/* line 116, ../sass/style.scss */
.sidebar ul li:first-child {
  border-top: none;
  padding-bottom: 30px;
}
/* line 120, ../sass/style.scss */
.sidebar ul li:last-child {
  border-bottom: 1px solid #636262;
}
/* line 123, ../sass/style.scss */
.sidebar ul li:hover {
  background: rgba(0, 0, 0, 0.1);
}

/* line 130, ../sass/style.scss */
.menu-hide {
  transform: translateX(-300px);
}

/* line 135, ../sass/style.scss */
.text-center {
  text-align: center;
}

/* line 139, ../sass/style.scss */
.text-color-thirdly {
  color: #FF9B41;
}

/* line 143, ../sass/style.scss */
.text-color-red {
  color: #9C0D38;
}

/* line 147, ../sass/style.scss */
.text-color-green {
  color: #20BF55;
}

/* line 152, ../sass/style.scss */
.form-error {
  background: none;
  border: 3px solid red;
  border-radius: 30px;
}
/* line 156, ../sass/style.scss */
.form-error li {
  text-align: left;
}

/* line 161, ../sass/style.scss */
label {
  box-sizing: border-box;
  display: block;
  width: 100%;
  margin: 5px;
  padding: 20px 0 5px 0;
  font-weight: 700;
  text-transform: uppercase;
}

/* line 171, ../sass/style.scss */
.input-text {
  box-sizing: border-box;
  outline: none;
  max-width: 90%;
  min-width: 320px;
  height: 40px;
  text-align: center;
  color: #F4F4F6;
  padding: 10px 5px;
  background: none;
  border: 3px solid #FF9B41;
  border-radius: 30px;
}

/* line 185, ../sass/style.scss */
input[type="submit"] {
  box-sizing: border-box;
  width: 100%;
  height: 40px;
  margin-top: 70px;
  text-align: center;
  font-weight: 700;
  color: #F4F4F6;
  padding: 7px 10px;
  background: #FF9B41;
  border-radius: 30px;
  text-transform: uppercase;
  border: none;
}

/* line 200, ../sass/style.scss */
select {
  box-sizing: border-box;
  outline: none;
  max-width: 90%;
  min-width: 320px;
  height: 40px;
  text-align: center;
  color: #F4F4F6;
  padding: 10px 5px;
  background: none;
  border: 3px solid #FF9B41;
  border-radius: 30px;
}

/* line 214, ../sass/style.scss */
option {
  color: #33333B;
}

/* line 219, ../sass/style.scss */
.btn {
  position: relative;
  display: inline-block;
  user-select: none;
  box-sizing: border-box;
  height: 40px;
  text-align: center;
  font-weight: 700;
  color: #F4F4F6;
  padding: 8px 12px;
  margin: 10px;
  background: #FF9B41;
  border-radius: 30px;
  text-transform: uppercase;
  border: none;
  outline: none;
  opacity: 0.85;
}

/* line 237, ../sass/style.scss */
a.btn {
  text-decoration: none;
}

/* line 240, ../sass/style.scss */
.btn:hover {
  opacity: 1;
}

/* line 243, ../sass/style.scss */
.btn-red {
  background: #9C0D38;
}

/* line 246, ../sass/style.scss */
.btn-blue {
  background: #01BAEF;
}

/* line 249, ../sass/style.scss */
.btn-green {
  background: #20BF55;
}

/* line 254, ../sass/style.scss */
table {
  border-collapse: collapse;
  width: 100%;
}

/* line 258, ../sass/style.scss */
thead {
  font-weight: 700;
  background: rgba(0, 0, 0, 0.2);
}

/* line 263, ../sass/style.scss */
th, td {
  text-align: left;
  padding: 8px;
}

/* line 267, ../sass/style.scss */
td.centeredTd {
  text-align: center;
}

/* line 270, ../sass/style.scss */
td.checkbox {
  width: 20px;
}

/* line 273, ../sass/style.scss */
tr:nth-child(even) {
  background: rgba(0, 0, 0, 0.1);
}

/* line 274, ../sass/style.scss */
tr:hover {
  background: rgba(0, 0, 0, 0.15);
}

/* line 278, ../sass/style.scss */
.img-trombi {
  width: 15.25424%;
  float: left;
  margin-right: 1.69492%;
}
/* line 280, ../sass/style.scss */
.img-trombi img {
  width: 100%;
  max-width: 240px;
  max-height: 240px;
  border-radius: 100%;
  border: 3px solid #FF9B41;
}
