@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700,300,400italic,300italic");
/* line 23, ../sass/style.scss */
body {
  background: #33333B;
  color: #F4F4F6;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}

/* line 31, ../sass/style.scss */
input[type="submit"], input[type="text"], input[type="email"], input[type="password"], .btn, textarea, select {
  -webkit-appearance: none;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
}

/* line 36, ../sass/style.scss */
.content {
  padding-top: 60px;
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;
  height-min: 100%;
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
}
/* line 12, ../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/susy-2.2.12/sass/susy/output/support/_clearfix.scss */
.content:after {
  content: " ";
  display: block;
  clear: both;
}
/* line 43, ../sass/style.scss */
.content .sidebar {
  width: 40.52288%;
  float: left;
  margin-right: 1.96078%;
}

/* line 51, ../sass/style.scss */
.vertical-align {
  display: flex;
  height: 40vw;
}

/* line 55, ../sass/style.scss */
.box-v-align {
  margin: auto;
  display: block;
}

/* line 62, ../sass/style.scss */
header {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  background: #33333B;
  padding: 10px 18px 10px 18px;
  height: 60px;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  z-index: 100;
}
/* line 74, ../sass/style.scss */
header a {
  color: #FF9B41;
}

/* line 79, ../sass/style.scss */
.menu-left {
  float: left;
  height: 100%;
}

/* line 83, ../sass/style.scss */
.menu-right {
  float: right;
  height: 100%;
}

/* line 89, ../sass/style.scss */
.sidebar {
  width: 300px;
  max-width: 300px;
  z-index: 110;
  position: fixed;
  top: 0;
  right: -300px;
  bottom: 0;
  background: #1b1b21;
  transition: all 500ms ease;
}
/* line 99, ../sass/style.scss */
.sidebar ul {
  width: 100%;
  padding: 0;
  display: block;
  position: relative;
  z-index: 3;
}
/* line 105, ../sass/style.scss */
.sidebar ul li {
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 13px 20px 13px 20px;
  text-align: center;
  color: #FF9B41;
  font-weight: 700;
  box-sizing: border-box;
  border-top: 1px solid #636262;
}
/* line 115, ../sass/style.scss */
.sidebar ul li a {
  color: #F4F4F6;
  text-align: left;
  width: 100%;
  height: 100%;
  display: block;
  text-transform: uppercase;
  font-weight: 400;
  text-decoration: none;
}
/* line 124, ../sass/style.scss */
.sidebar ul li a i {
  margin-right: 10px;
}
/* line 129, ../sass/style.scss */
.sidebar ul a.active {
  color: #FF9B41;
}
/* line 132, ../sass/style.scss */
.sidebar ul li:first-child {
  border-top: none;
  padding-bottom: 30px;
}
/* line 136, ../sass/style.scss */
.sidebar ul li:last-child {
  border-bottom: 1px solid #636262;
}
/* line 139, ../sass/style.scss */
.sidebar ul li:hover {
  background: rgba(0, 0, 0, 0.1);
}

/* line 146, ../sass/style.scss */
.menu-hide {
  transform: translateX(-300px);
}

/* line 151, ../sass/style.scss */
.text-center {
  text-align: center;
}

/* line 155, ../sass/style.scss */
.text-color-thirdly {
  color: #FF9B41;
}

/* line 159, ../sass/style.scss */
.text-color-red {
  color: #9C0D38;
}

/* line 163, ../sass/style.scss */
.text-color-green {
  color: #20BF55;
}

/* line 168, ../sass/style.scss */
form {
  margin: 0 auto;
  margin-bottom: 20px;
}

/* line 173, ../sass/style.scss */
.hidden {
  display: none;
}

/* line 177, ../sass/style.scss */
.form-error {
  background: none;
  border: 3px solid red;
  border-radius: 30px;
}
/* line 181, ../sass/style.scss */
.form-error li {
  text-align: left;
}

/* line 186, ../sass/style.scss */
label {
  box-sizing: border-box;
  display: block;
  width: 100%;
  margin: 5px;
  padding: 20px 0 5px 0;
  font-weight: 700;
  text-transform: uppercase;
}

/* line 196, ../sass/style.scss */
.input img {
  display: block;
  margin: 0 auto;
  box-sizing: border-box;
  border: 3px solid #FF9B41;
  border-radius: 100%;
}

/* line 205, ../sass/style.scss */
.input-text {
  box-sizing: border-box;
  outline: none;
  min-width: 90%;
  display: block;
  margin: 0 auto;
  height: 40px;
  text-align: center;
  color: #F4F4F6;
  padding: 10px 5px;
  background: none;
  border: 3px solid #FF9B41;
  border-radius: 30px;
}

/* line 219, ../sass/style.scss */
.input-text:disabled {
  background: rgba(255, 255, 255, 0.2);
}

/* line 223, ../sass/style.scss */
textarea {
  box-sizing: border-box;
  outline: none;
  min-width: 90%;
  display: block;
  margin: 0 auto;
  text-align: left;
  color: #F4F4F6;
  padding: 15px 15px;
  background: none;
  border: 3px solid #FF9B41;
  border-radius: 30px;
}

/* line 237, ../sass/style.scss */
input[type="submit"] {
  box-sizing: border-box;
  width: 100%;
  height: 40px;
  margin-top: 70px;
  text-align: center;
  font-weight: 700;
  color: #F4F4F6;
  padding: 7px 10px;
  background: #FF9B41;
  border-radius: 30px;
  text-transform: uppercase;
  border: none;
}

/* line 252, ../sass/style.scss */
input[type="text"] {
  box-sizing: border-box;
  outline: none;
  min-width: 90%;
  display: block;
  margin: 0 auto;
  height: 40px;
  text-align: center;
  color: #F4F4F6;
  padding: 10px 5px;
  background: none;
  border: 3px solid #FF9B41;
  border-radius: 30px;
}

/* line 267, ../sass/style.scss */
optgroup {
  color: #33333B;
}

/* line 271, ../sass/style.scss */
select {
  box-sizing: border-box;
  outline: none;
  min-width: 90%;
  display: block;
  margin: 0 auto;
  height: 40px;
  text-align: center;
  color: #F4F4F6;
  padding: 10px 15px;
  border: 3px solid #FF9B41;
  border-radius: 30px;
  background: url("../etc/arrows.svg") no-repeat right 12px center;
  background-size: 16px;
}

/* line 286, ../sass/style.scss */
select:disabled {
  background: rgba(255, 255, 255, 0.2);
}

/* line 289, ../sass/style.scss */
option {
  color: #33333B;
}

/* line 294, ../sass/style.scss */
.trombi {
  height: auto;
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}
/* line 12, ../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/susy-2.2.12/sass/susy/output/support/_clearfix.scss */
.trombi:after {
  content: " ";
  display: block;
  clear: both;
}
@media (min-width: 1px) {
  /* line 297, ../sass/style.scss */
  .trombi .trombi-block {
    width: 32.02614%;
    float: left;
  }
  /* line 66, ../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/susy-2.2.12/sass/susy/language/susy/_gallery.scss */
  .trombi .trombi-block:nth-child(3n + 1) {
    margin-left: 0;
    margin-right: -100%;
    clear: both;
    margin-left: 0;
  }
  /* line 66, ../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/susy-2.2.12/sass/susy/language/susy/_gallery.scss */
  .trombi .trombi-block:nth-child(3n + 2) {
    margin-left: 33.98693%;
    margin-right: -100%;
    clear: none;
  }
  /* line 66, ../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/susy-2.2.12/sass/susy/language/susy/_gallery.scss */
  .trombi .trombi-block:nth-child(3n + 3) {
    margin-left: 67.97386%;
    margin-right: -100%;
    clear: none;
  }
}
@media (min-width: 600px) {
  /* line 297, ../sass/style.scss */
  .trombi .trombi-block {
    width: 23.52941%;
    float: left;
  }
  /* line 66, ../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/susy-2.2.12/sass/susy/language/susy/_gallery.scss */
  .trombi .trombi-block:nth-child(4n + 1) {
    margin-left: 0;
    margin-right: -100%;
    clear: both;
    margin-left: 0;
  }
  /* line 66, ../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/susy-2.2.12/sass/susy/language/susy/_gallery.scss */
  .trombi .trombi-block:nth-child(4n + 2) {
    margin-left: 25.4902%;
    margin-right: -100%;
    clear: none;
  }
  /* line 66, ../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/susy-2.2.12/sass/susy/language/susy/_gallery.scss */
  .trombi .trombi-block:nth-child(4n + 3) {
    margin-left: 50.98039%;
    margin-right: -100%;
    clear: none;
  }
  /* line 66, ../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/susy-2.2.12/sass/susy/language/susy/_gallery.scss */
  .trombi .trombi-block:nth-child(4n + 4) {
    margin-left: 76.47059%;
    margin-right: -100%;
    clear: none;
  }
}
@media (min-width: 960px) {
  /* line 297, ../sass/style.scss */
  .trombi .trombi-block {
    width: 15.03268%;
    float: left;
  }
  /* line 66, ../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/susy-2.2.12/sass/susy/language/susy/_gallery.scss */
  .trombi .trombi-block:nth-child(6n + 1) {
    margin-left: 0;
    margin-right: -100%;
    clear: both;
    margin-left: 0;
  }
  /* line 66, ../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/susy-2.2.12/sass/susy/language/susy/_gallery.scss */
  .trombi .trombi-block:nth-child(6n + 2) {
    margin-left: 16.99346%;
    margin-right: -100%;
    clear: none;
  }
  /* line 66, ../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/susy-2.2.12/sass/susy/language/susy/_gallery.scss */
  .trombi .trombi-block:nth-child(6n + 3) {
    margin-left: 33.98693%;
    margin-right: -100%;
    clear: none;
  }
  /* line 66, ../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/susy-2.2.12/sass/susy/language/susy/_gallery.scss */
  .trombi .trombi-block:nth-child(6n + 4) {
    margin-left: 50.98039%;
    margin-right: -100%;
    clear: none;
  }
  /* line 66, ../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/susy-2.2.12/sass/susy/language/susy/_gallery.scss */
  .trombi .trombi-block:nth-child(6n + 5) {
    margin-left: 67.97386%;
    margin-right: -100%;
    clear: none;
  }
  /* line 66, ../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/susy-2.2.12/sass/susy/language/susy/_gallery.scss */
  .trombi .trombi-block:nth-child(6n + 6) {
    margin-left: 84.96732%;
    margin-right: -100%;
    clear: none;
  }
}
/* line 309, ../sass/style.scss */
.trombi :checked + label img {
  border: 4px solid #9C0D38;
  opacity: 0.8;
}
/* line 313, ../sass/style.scss */
.trombi input[type=checkbox] {
  display: none;
}
/* line 319, ../sass/style.scss */
.trombi img {
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  width: 100%;
  max-width: 230px;
  max-height: 230px;
  border-radius: 100%;
  border: 4px solid #FF9B41;
}
/* line 330, ../sass/style.scss */
.trombi label {
  display: inline-block;
}

/* line 337, ../sass/style.scss */
.btn {
  position: relative;
  display: inline-block;
  user-select: none;
  box-sizing: border-box;
  height: 40px;
  text-align: center;
  font-weight: 700;
  color: #F4F4F6;
  padding: 8px 12px;
  margin: 10px;
  background: #FF9B41;
  border-radius: 30px;
  text-transform: uppercase;
  border: none;
  outline: none;
  opacity: 0.85;
}

/* line 355, ../sass/style.scss */
.btn-mini {
  position: relative;
  display: inline-block;
  user-select: none;
  box-sizing: border-box;
  height: 30px;
  text-align: center;
  font-weight: 700;
  color: #F4F4F6;
  padding: 5px;
  margin: 0;
  background: #FF9B41;
  border-radius: 30px;
  text-transform: uppercase;
  border: none;
  outline: none;
  opacity: 0.85;
}

/* line 373, ../sass/style.scss */
a.btn, a.btn-mini {
  text-decoration: none;
}

/* line 376, ../sass/style.scss */
.btn:hover {
  opacity: 1;
}

/* line 379, ../sass/style.scss */
.btn-red {
  background: #9C0D38;
}

/* line 382, ../sass/style.scss */
.btn-blue {
  background: #01BAEF;
}

/* line 385, ../sass/style.scss */
.btn-green {
  background: #20BF55;
}

/* line 390, ../sass/style.scss */
table {
  border-collapse: collapse;
  width: 99;
  margin: 0 auto;
}

/* line 395, ../sass/style.scss */
thead {
  font-weight: 700;
  background: rgba(0, 0, 0, 0.2);
}

/* line 400, ../sass/style.scss */
th, td {
  text-align: left;
  padding: 8px;
}

/* line 404, ../sass/style.scss */
td.centeredTd {
  text-align: center;
}

/* line 407, ../sass/style.scss */
td.checkbox {
  width: 20px;
}

/* line 410, ../sass/style.scss */
tr:nth-child(even) {
  background: rgba(0, 0, 0, 0.1);
}

/* line 411, ../sass/style.scss */
tr:hover {
  background: rgba(0, 0, 0, 0.15);
}

/* line 415, ../sass/style.scss */
.img-trombi {
  width: 49.01961%;
  float: left;
}
/* line 66, ../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/susy-2.2.12/sass/susy/language/susy/_gallery.scss */
.img-trombi:nth-child(2n + 1) {
  margin-left: 0;
  margin-right: -100%;
  clear: both;
  margin-left: 0;
}
/* line 66, ../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/susy-2.2.12/sass/susy/language/susy/_gallery.scss */
.img-trombi:nth-child(2n + 2) {
  margin-left: 50.98039%;
  margin-right: -100%;
  clear: none;
}
@media (min-width: 400px) {
  /* line 415, ../sass/style.scss */
  .img-trombi {
    width: 32.02614%;
    float: left;
  }
  /* line 66, ../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/susy-2.2.12/sass/susy/language/susy/_gallery.scss */
  .img-trombi:nth-child(3n + 1) {
    margin-left: 0;
    margin-right: -100%;
    clear: both;
    margin-left: 0;
  }
  /* line 66, ../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/susy-2.2.12/sass/susy/language/susy/_gallery.scss */
  .img-trombi:nth-child(3n + 2) {
    margin-left: 33.98693%;
    margin-right: -100%;
    clear: none;
  }
  /* line 66, ../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/susy-2.2.12/sass/susy/language/susy/_gallery.scss */
  .img-trombi:nth-child(3n + 3) {
    margin-left: 67.97386%;
    margin-right: -100%;
    clear: none;
  }
}
@media (min-width: 600px) {
  /* line 415, ../sass/style.scss */
  .img-trombi {
    width: 23.52941%;
    float: left;
  }
  /* line 66, ../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/susy-2.2.12/sass/susy/language/susy/_gallery.scss */
  .img-trombi:nth-child(4n + 1) {
    margin-left: 0;
    margin-right: -100%;
    clear: both;
    margin-left: 0;
  }
  /* line 66, ../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/susy-2.2.12/sass/susy/language/susy/_gallery.scss */
  .img-trombi:nth-child(4n + 2) {
    margin-left: 25.4902%;
    margin-right: -100%;
    clear: none;
  }
  /* line 66, ../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/susy-2.2.12/sass/susy/language/susy/_gallery.scss */
  .img-trombi:nth-child(4n + 3) {
    margin-left: 50.98039%;
    margin-right: -100%;
    clear: none;
  }
  /* line 66, ../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/susy-2.2.12/sass/susy/language/susy/_gallery.scss */
  .img-trombi:nth-child(4n + 4) {
    margin-left: 76.47059%;
    margin-right: -100%;
    clear: none;
  }
}
@media (min-width: 960px) {
  /* line 415, ../sass/style.scss */
  .img-trombi {
    width: 15.03268%;
    float: left;
  }
  /* line 66, ../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/susy-2.2.12/sass/susy/language/susy/_gallery.scss */
  .img-trombi:nth-child(6n + 1) {
    margin-left: 0;
    margin-right: -100%;
    clear: both;
    margin-left: 0;
  }
  /* line 66, ../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/susy-2.2.12/sass/susy/language/susy/_gallery.scss */
  .img-trombi:nth-child(6n + 2) {
    margin-left: 16.99346%;
    margin-right: -100%;
    clear: none;
  }
  /* line 66, ../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/susy-2.2.12/sass/susy/language/susy/_gallery.scss */
  .img-trombi:nth-child(6n + 3) {
    margin-left: 33.98693%;
    margin-right: -100%;
    clear: none;
  }
  /* line 66, ../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/susy-2.2.12/sass/susy/language/susy/_gallery.scss */
  .img-trombi:nth-child(6n + 4) {
    margin-left: 50.98039%;
    margin-right: -100%;
    clear: none;
  }
  /* line 66, ../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/susy-2.2.12/sass/susy/language/susy/_gallery.scss */
  .img-trombi:nth-child(6n + 5) {
    margin-left: 67.97386%;
    margin-right: -100%;
    clear: none;
  }
  /* line 66, ../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/susy-2.2.12/sass/susy/language/susy/_gallery.scss */
  .img-trombi:nth-child(6n + 6) {
    margin-left: 84.96732%;
    margin-right: -100%;
    clear: none;
  }
}
/* line 426, ../sass/style.scss */
.img-trombi img {
  background: black;
  box-sizing: border-box;
  width: 100%;
  max-width: 230px;
  max-height: 230px;
  border-radius: 100%;
  border: 3px solid #FF9B41;
}
