//Nos imports
@import "grids";
@import "compass";
//importation de la font OpenSans
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700,300,400italic,300italic');

//Elements, variables global
$primary: #33333B; 
$secondary: #F4F4F6;
$thirdly: #FF9B41;
$red: #9C0D38;
$blue: #01BAEF;
$green: #20BF55;

//Configuration du framework Susy plus d'informations : susy.oddbird.net
$susy: (
        columns: 12,
        gutters: .30,
        container: 960px
);

// 
body{
  background: $primary;
  color: $secondary;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}

//Desactivation d'elements IOS et Android
input[type="submit"], input[type="text"], input[type="email"],input[type="password"], .btn,textarea, select {
  -webkit-appearance: none;
  @include border-radius(30px);
}

.content {
  padding-top: 60px;
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;
  height-min: 100%;
  @include container;
  .sidebar {
    @include span(5);
  }
  z-index: 1;
}

//Alignement vertical css3 is the best

.vertical-align{
  display: flex;
  height: 40vw;
}
.box-v-align{
  margin: auto;
  display: block;
}

//HEADER et MENU

header{
  @include span(12);
  background: $primary;
  padding: 10px 18px 10px 18px;
  height: 60px;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  border-bottom: 1px solid rgba(0,0,0,0.5);
  z-index: 100;
  a{
    color: $thirdly;
  }
}

.menu-left{
  float: left;
  height: 100%;
}
.menu-right{
  float: right;
  height: 100%;

}

.sidebar{
  width: 300px;
  max-width: 300px;
  z-index: 110;
  position: fixed;
  top: 0;
  right: -300px;
  bottom: 0;
  background: #1b1b21;
  transition: all 500ms ease;
  ul{
    width: 100%;
    padding: 0;
    display: block;
    position: relative;
    z-index: 3;
    li{
      width: 100%;
      list-style: none;
      margin: 0;
      padding: 13px 20px 13px 20px;
      text-align: center;
      color: $thirdly;
      font-weight: 700;
      box-sizing: border-box;
      border-top: 1px solid #636262;
      a{
        color: $secondary;
        text-align: left;
        width: 100%;
        height: 100%;
        display: block;
        text-transform: uppercase;
        font-weight: 400;
        text-decoration: none;
        i{
          margin-right: 10px;
        }
      }
    }
    a.active{
      color: $thirdly;
    }
    li:first-child{
      border-top: none;
      padding-bottom: 30px;
    }
    li:last-child{
      border-bottom: 1px solid #636262;
    }
    li:hover{
      background: rgba(0,0,0,0.1);
    }

  }
}

.menu-hide{
  transform: translateX(-300px);
}

//Elements texte
.text-center{
  text-align: center;
}

.text-color-thirdly{
  color: $thirdly;
}

.text-color-red{
  color: $red;
}

.text-color-green{
  color: $green;
}

//Elements formulaires
form{
  margin: 0 auto;
  margin-bottom: 20px;
}

.hidden{
  display: none;
}

.form-error{
  background: none;
  border: 3px solid red;
  border-radius: 30px;
  li{
    text-align: left;
  }
}

label{
  box-sizing: border-box;
  display: block;
  width: 100%;
  margin: 5px;
  padding: 20px 0 5px 0;
  font-weight: 700;
  text-transform: uppercase;
}
.input{
  img{
    display: block;
    margin: 0 auto;
    box-sizing: border-box;
    border: 3px solid $thirdly;
    border-radius: 100%;
  }
}

.input-text{
  box-sizing: border-box;
  outline: none;
  min-width: 90%;
  display: block;
  margin: 0 auto;
  height: 40px;
  text-align: center;
  color: $secondary;
  padding: 10px 5px;
  background: none;
  border: 3px solid $thirdly;
  border-radius: 30px;
}
.input-text:disabled {
  background: rgba(255,255,255, 0.2);
}

textarea{
  box-sizing: border-box;
  outline: none;
  min-width: 90%;
  display: block;
  margin: 0 auto;
  text-align: left;
  color: $secondary;
  padding: 15px 15px;
  background: none;
  border: 3px solid $thirdly;
  border-radius: 30px;
}

input[type="submit"]{
  box-sizing: border-box;
  width: 100%;
  height: 40px;
  margin-top: 70px;
  text-align: center;
  font-weight: 700;
  color: $secondary;
  padding: 7px 10px;
  background: $thirdly;
  border-radius: 30px;
  text-transform: uppercase;
  border: none;
}

input[type="text"]{
  box-sizing: border-box;
  outline: none;
  min-width: 90%;
  display: block;
  margin: 0 auto;
  height: 40px;
  text-align: center;
  color: $secondary;
  padding: 10px 5px;
  background: none;
  border: 3px solid $thirdly;
  border-radius: 30px;
}

optgroup{
  color : $primary;
}

select{
  box-sizing: border-box;
  outline: none;
  min-width: 90%;
  display: block;
  margin: 0 auto;
  height: 40px;
  text-align: center;
  color: $secondary;
  padding: 10px 15px;
  border: 3px solid $thirdly;
  border-radius: 30px;
  background: url('../etc/arrows.svg') no-repeat right 12px center;
  background-size: 16px;
}
select:disabled {
  background: rgba(255,255,255, 0.2);
}
option{
  color: $primary;
}
//Form trombi absence : gestion des cliques pour selectionner les absents

.trombi{
  height: auto;
  @include container;
  .trombi-block{

    @media (min-width: 1px) {
      @include gallery(4);
    }
    @media (min-width: 600px) {
      @include gallery(3);
    }
    @media (min-width: 960px) {
      @include gallery(2);
    }
  }
  :checked+label img {
    border: 4px solid $red;
    opacity: 0.8;
  }
  input[type=checkbox] {
    display: none;
  }
  .infoEtu{

  }
  img {
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    width: 100%;
    max-width: 230px;
    max-height: 230px;
    border-radius: 100%;
    border: 4px solid $thirdly;

  }
  label {
    display: inline-block;
  }
}

//Elements boutons

.btn{
  position: relative;
  display: inline-block;
  user-select: none;
  box-sizing: border-box;
  height: 40px;
  text-align: center;
  font-weight: 700;
  color: $secondary;
  padding: 8px 12px;
  margin: 10px;
  background: $thirdly;
  border-radius: 30px;
  text-transform: uppercase;
  border: none;
  outline: none;
  opacity: 0.85;
}
.btn-mini{
  position: relative;
  display: inline-block;
  user-select: none;
  box-sizing: border-box;
  height: 30px;
  text-align: center;
  font-weight: 700;
  color: $secondary;
  padding: 5px;
  margin: 0;
  background: $thirdly;
  border-radius: 30px;
  text-transform: uppercase;
  border: none;
  outline: none;
  opacity: 0.85;
}
a.btn, a.btn-mini{
  text-decoration: none;
}
.btn:hover {
  opacity: 1;
}
.btn-red{
  background: $red;
}
.btn-blue{
  background: $blue;
}
.btn-green{
  background: $green;
}

//Elements tableau
table {
  border-collapse: collapse;
  width: 99;
  margin: 0 auto;
}
thead{
  font-weight: 700;
  background: rgba(0,0,0,0.2)
}

th, td {
  text-align: left;
  padding: 8px;
}
td.centeredTd{
  text-align: center;
}
td.checkbox{
  width: 20px;
}
tr:nth-child(even){background: rgba(0,0,0,0.1)}
tr:hover{
  background: rgba(0,0,0,0.15)
}
//Images du trombi
.img-trombi{
  @include gallery(6);
  @media (min-width: 400px) {
    @include gallery(4);
  }
  @media (min-width: 600px) {
    @include gallery(3);
  }
  @media (min-width: 960px) {
    @include gallery(2);
  }
  img{
    background: black;
    box-sizing: border-box;
    width: 100%;
    max-width: 230px;
    max-height: 230px;
    border-radius: 100%;
    border: 3px solid $thirdly;
  }
}
